.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
}

.popup {
    width: 300px;
    background: white;
    padding: 10px;
    border-radius: 10px;
}